@font-face {
    font-family: 'Proxima';
    src: url('../../public/fonts/Proxima/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf') format('truetype'), ;
    font-weight: normal;
    font-style: normal;
}


